name: Test on Pull Requests
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    concurrency: ${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: yarn install
      - run: yarn lint
      - name: commit linting changes
        uses: stefanzweifel/git-auto-commit-action@v4.14.0
        with:
          commit_message: ":robot: yarn lint [skip ci]"
      - run: yarn test
